<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>136.15.0.103236</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1152, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2008-10-01 15:53:11 -0500</string>
	<key>Creator</key>
	<string>Ole Weidner</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>57973E7D-863A-4032-A72F-67FD61D86A2F-44961-0000AB6ECA822735</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.42233, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.407767, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.393204, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.177994, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.289644, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.428803, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.245455}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.428803, 0.245455}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.428803, 0.00129867}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.289644, 0.00129867}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.289644, -0.331169}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.177994, -0.331169}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.177994, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.42233, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.42233, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.407767, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.393204, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.177994, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.289644, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.407767, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.393204, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.177994, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.177994, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.289644, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.428803, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.393204, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.177994, 0.5}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{176.667, 151.333}, {122, 16}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>17</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Arial-Black;}
{\colortbl;\red255\green255\blue255;\red109\green140\blue64;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\b\fs20 \cf2 http://saga.cct.lsu.edu}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{61.0001, 423.333}, {252.484, 155.289}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>16</integer>
			<key>ImageID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{52, 594.334}, {655, 124}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>9</real>
			</dict>
			<key>ID</key>
			<integer>15</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red109\green140\blue64;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\b\fs20 \cf0 Enabling Distributed Application \
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\b0\fs14 \cf0 \
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\fs20 \cf0 SAGA has been used to support a wide range of applications types and usage modes [fig. r.]. The SAGA team at CCT is actively involved in the \
development of prototypes for:\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\fs14 \cf0 \
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\fs20 \cf0   
\b \cf2 o
\b0 \cf0  Applications with novel and agile distributed execution modes. For example, we have re-architected a Kalman-Filter based application to \
     enable it to determine at run time, the optimal resource to launch sub-jobs.\
  
\b \cf2 o 
\b0 \cf0 Adaptive distributed 
\i Replica Exchange
\i0  applications which can opportunistically exploit multiple resources concurrently without prior arrangement \
     and dynamically reallocated resources.\
  
\b \cf2 o 
\b0 \cf0 Novel applications for explicit deployment on distributed infrastructure, i.e. first-principle distributed applications.\
}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{52, 273.833}, {541, 148}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>14</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBK4FyAlJlZmVyZW5jZSBJbXBsZW1lbnRhdGlv
				biAKClRoZSBTQUdBIHRlYW0gYXQgQ0NUIHN0cml2ZXMg
				dG8gaW1wbGVtZW50IGEgZnVsbHkgT0dGIGNvbXBsaWFu
				dCBTQUdBIEMrKyByZWZlcmVuY2UgaW1wbGVtZW50YXRp
				b24gaW5jbHVkaW5nIHRoZSBydW50aW1lIHN5c3RlbSwg
				bWlkZGxld2FyZSBhZGFwdG9ycyBhbmQgQVBJIGxhbmd1
				YWdlIGJpbmRpbmdzIGZvciBQeXRob24gYW5kIEMgW2Zp
				Zy4gbC5dLiBDdXJyZW50bHksIHRoZSBpbXBsZW1lbnRh
				dGlvbiBjb21wcmlzZXMgdGhlIGZ1bmN0aW9uYWwgcGFj
				a2FnZXMgYW5kIG1pZGRsZXdhcmUgYWRhcHRvcnMgZm9y
				OiAKCiAgbyBKb2IgU3VibWlzc2lvbiAmIE1hbmFnZW1l
				bnQgKEdsb2J1cyBHUkFNLiBPTUlJIEdyaWRTQU0sIENv
				bmRvciwgRm9yaykgCiAgbyBGaWxlc3lzdGVtIEFjY2Vz
				cyAoTG9jYWwgRmlsZXN5c3RlbXMsIEdsb2J1cyBHcmlk
				RlRQKQogIG8gUmVwbGljYSBNYW5hZ2VtZW50IChTUUwt
				YmFzZWQsIEdsb2J1cyBSTFMpCiAgbyBBZHZlcnQgU2Vy
				dmljZXMgKFNRTC1iYXNlZCkgCiAgbyBDaGVja3BvaW50
				ICYgUmVjb3ZlcnkgU2VydmljZXMgKE1pZ29sKSAKICBv
				IFN0cmVhbSBIYW5kbGluZyAmIFJlbW90ZSBQcm9jZWR1
				cmUgQ2FsbHMKhoQCaUkBGpKEhIQMTlNEaWN0aW9uYXJ5
				AJSEAWkDkoSWlg5OU09yaWdpbmFsRm9udIaShISEBk5T
				Rm9udB6UmSiEBVs0MGNdBgAAAB4AAAD//kgAZQBsAHYA
				ZQB0AGkAYwBhAC0AQgBvAGwAZAAAAIQBZgqEAWMAnQGd
				AJ0AhpKElpYGTlNGb250hpKakoSWlhBOU1BhcmFncmFw
				aFN0eWxlhpKEhIQQTlNQYXJhZ3JhcGhTdHlsZQCUhARD
				Q0BTBACEhIQHTlNBcnJheQCUmQyShISECU5TVGV4dFRh
				YgCUhAJDZgAchpKEo6IAOIaShKOiAFSGkoSjogBwhpKE
				o6IAgYwAhpKEo6IAgagAhpKEo6IAgcQAhpKEo6IAgeAA
				hpKEo6IAgfwAhpKEo6IAgRgBhpKEo6IAgTQBhpKEo6IA
				gVABhoYAhoaXAgGShJiZA5KElpYOTlNPcmlnaW5hbEZv
				bnSGkoSbmRyEBVsyOGNdBgAAABQAAAD//kgAZQBsAHYA
				ZQB0AGkAYwBhAJwHnQCdAZ0AnQCGkpySsZKdkoSfnwQA
				hKGZDJKikqSSpZKmkqeSqJKpkqqSq5Kskq2SroYAhoaX
				A4EoAZKEmJkCkp2ShJ+fBACEoZkMkqKSpJKlkqaSp5Ko
				kqmSqpKrkqySrZKuhgCGkpyShJuZHKMGAAAAFAAAAP/+
				SABlAGwAdgBlAHQAaQBjAGEAnAqdAJ0BnQCdAIaGlwIB
				lwMClwQBkoSYmQSSnZKekpmSmpKckpqShJaWB05TQ29s
				b3KGkoSEhAdOU0NvbG9yAJSdAoQEZmZmZoPGxMQ+g5CP
				Dz+D8vBwPgGGhpcDSpcFAZKEmJkDkpySmpK5koS7nQGl
				g8XExD6DkI8PP4Pt7Gw+AYaSnZKEn58EAIShmQySopKk
				kqWSppKnkqiSqZKqkquSrJKtkq6GAIaGlwM5lwUBlwMu
				lwUBlwMglwUBlwMrlwUBlwMqhg==
				</data>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{52, 186}, {480, 80}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>13</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\b\fs20 \cf0 A Simple and Powerful Abstraction Layer\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\b0\fs14 \cf0 \
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\fs20 \cf0 SAGA - the 
\i Simple API for Grid Applications
\i0  is a proposed recommendation of the Open Grid \
Forum (OGF) and defines a high-level programmatic interface for developers of Distributed Applications. \
The fundamental idea of SAGA is to lower the barrier for applications and application scientists to utilize distributed infrastructure by providing a simple and uniform interface to the most often required functionality in order to construct general purpose, extensible, dynamic and scalable applications. }</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{348.429, 422.666}, {255.238, 155.289}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>11</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{52, 120}, {121, 56}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.231586</string>
					<key>g</key>
					<string>0.561028</string>
					<key>r</key>
					<string>0.383307</string>
				</dict>
				<key>Font</key>
				<string>Arial-Black</string>
				<key>Size</key>
				<real>39</real>
			</dict>
			<key>ID</key>
			<integer>4</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>RTFD</key>
				<data>
				BAtzdHJlYW10eXBlZIHoA4QBQISEhBJOU0F0dHJpYnV0
				ZWRTdHJpbmcAhIQITlNPYmplY3QAhZKEhIQITlNTdHJp
				bmcBlIQBKwRTQUdBhoQCaUkBBJKEhIQMTlNEaWN0aW9u
				YXJ5AJSEAWkDkoSWlhBOU1BhcmFncmFwaFN0eWxlhpKE
				hIQXTlNNdXRhYmxlUGFyYWdyYXBoU3R5bGUAhIQQTlNQ
				YXJhZ3JhcGhTdHlsZQCUhARDQ0BTAgCFAIaShJaWB05T
				Q29sb3KGkoSEhAdOU0NvbG9yAJSEAWMChARmZmZmg8bE
				xD6DkI8PP4Py8HA+AYaShJaWBk5TRm9udIaShISEBk5T
				Rm9udB6UmSCEBVszMmNdBgAAABgAAAD//kEAcgBpAGEA
				bAAtAEIAbABhAGMAawCEAWYnngCeAZ4AngCGhoY=
				</data>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{44, 156}, {618, 385}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>57973E7D-863A-4032-A72F-67FD61D86A2F-44961-0000AB6ECA822735</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>GradientColor</key>
					<dict>
						<key>w</key>
						<string>0.666667</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{28, 2}, {729, 729}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>10</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image4.pdf</string>
		<string>image2.pdf</string>
		<string>image1.jpg</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2008-10-02 15:04:51 -0500</string>
	<key>Modifier</key>
	<string>Ole Weidner</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{173, 286}, {1460, 1284}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, -5}, {883.333, 743.333}}</string>
		<key>Zoom</key>
		<real>1.5</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1.5</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
