remote_host :  ubuntu2 ubuntu2
replica_count :  2
number_glideins_per_host : 2
remote_host_local_scheduler :  fork   fork
workingdirectory : /home/luckow/  /home/luckow/
executable :  /bin/sleep /bin/sleep
queue :    WorkExpress WorkExpress
project : loni_jha_big loni_jha_big
arguments :   40
totalcputime : 1
numberofprocesses : 1
exchange_count  : 3
stage_in_file :  NPT.conf 
temperature :  300 310
advert_host : localhost