# configuration file for bigjob azure (bigjob_azure.py)
[DEFAULT]
ACCOUNT_NAME_STORAGE=<put azure service name for storage here>
SECRET_KEY=<put your Azure secret key here>

ACCOUNT_NAME_COMPUTE=<put azure service name for compute here>
SUBSCRIPTION_ID=2ffebf74-01b0-4ee8-a4e7-3a9178002908
USER_CERTIFICATE=azure-certificate.pem
SLOT=staging
SERVICE_PACKAGE=http://saga.blob.core.windows.net/namd-service/BigJobService.cspkg
SERVICE_CONFIGURATION=BigJobService/deploy/ServiceConfiguration.cscfg
