remote_host :  qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org qb1.loni.org
replica_count : 16
remote_host_local_scheduler :  pbs   pbs   pbs   pbs pbs   pbs   pbs   pbs pbs   pbs   pbs   pbs pbs   pbs   pbs   pbs
workingdirectory : /work/luckow/replica/1  /work/luckow/replica/2 /work/luckow/replica/3 /work/luckow/replica/4 /work/luckow/replica/5  /work/luckow/replica/6 /work/luckow/replica/7 /work/luckow/replica/8 /work/luckow/replica/9  /work/luckow/replica/10 /work/luckow/replica/11 /work/luckow/replica/12 /work/luckow/replica/13  /work/luckow/replica/14 /work/luckow/replica/15 /work/luckow/replica/16
executable :  /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker /home/luckow/sw/saga-svn/bin/saga-cpr-worker
queue :  workq  workq workq workq workq  workq workq workq workq  workq workq workq workq  workq workq workq 
project : loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big loni_jha_big
arguments :  "/usr/local/packages/namd-2.6-mvapich-1.0-intel10.1/namd2 NPT.conf" "mpi"
totalcputime : 1
numberofprocesses : 16
exchange_count  : 3
stage_in_file : 310K-init.coor  310K-init.xsc  NPT.conf  parm99bs0_all.prm  sbox_init.pdb  sbox_init.psf
temperature :  300 310 320 330 340 350 360 370 380 390 400 410 420 430 440 450
