remote_host :  ubuntu2 ubuntu2
replica_count :  2
remote_host_local_scheduler :  fork   fork
workingdirectory : /home/luckow/replica/1  /home/luckow/replica/2
executable :  /bin/sleep /bin/sleep
queue :  workq  workq
project : loni_jha_big loni_jha_big
arguments :  100
totalcputime : 1
numberofprocesses : 1
exchange_count  : 3
stage_in_file : 310K-init.coor  310K-init.xsc  NPT.conf  parm99bs0_all.prm  sbox_init.pdb  sbox_init.psf
temperature :  300 310