remote_host : ranger.tacc.teragrid.org ranger.tacc.teragrid.org
replica_count :  2
remote_host_local_scheduler :  sge   sge
workingdirectory : /work/00045/tg457066/replica/1 /work/00045/tg457066/replica/2 
executable : /share/home/00288/tg455591/Linux-amd64-MVAPICH-icc/namd2 /share/home/00288/tg455591/Linux-amd64-MVAPICH-icc/namd2
queue :  normal normal
project : TG-MCA02N014 TG-MCA02N014
arguments :  NPT.conf
totalcputime : 1
numberofprocesses : 1
exchange_count  : 10
stage_in_file : 310K-init.coor  310K-init.xsc  NPT.conf  parm99bs0_all.prm  sbox_init.pdb  sbox_init.psf
temperature :  300 310
advert_host : fortytwo.cct.lsu.edu
