remote_host :  qb1.loni.org qb1.loni.org
replica_count :  2
remote_host_local_scheduler :  pbs   pbs
workingdirectory : /work/luckow/replica/1  /work/luckow/replica/2
executable :  /usr/local/packages/namd-2.6-mvapich-1.0-intel.10.1/namd2 /usr/local/packages/namd-2.6-mvapich-1.0-intel.10.1/namd2
queue :  workq  workq
project : loni_jha_big loni_jha_big
arguments :  NPT.conf
totalcputime : 1
numberofprocesses : 8
exchange_count  : 10
stage_in_file : 310K-init.coor  310K-init.xsc  NPT.conf  parm99bs0_all.prm  sbox_init.pdb  sbox_init.psf
temperature :  300 310
