remote_host :  grid-abe.ncsa.teragrid.org grid-abe.ncsa.teragrid.org
gridftp_host : gridftp-abe.ncsa.teragrid.org gridftp-abe.ncsa.teragrid.org
replica_count :  2
remote_host_local_scheduler :  pbs   pbs
workingdirectory : /cfs/scratch/users/yye00/replica/1 /cfs/scratch/users/yye00/replica/2 
executable :  /u/ac/yye00/sw/NAMD/namd2 /u/ac/yye00/sw/NAMD/namd2
queue :  normal normal
project : TG-MCA02N014 TG-MCA02N014
arguments :  NPT.conf
totalcputime : 1
numberofprocesses : 1
exchange_count  : 10
stage_in_file : 310K-init.coor  310K-init.xsc  NPT.conf  parm99bs0_all.prm  sbox_init.pdb  sbox_init.psf
temperature :  300 310
advert_host : fortytwo.cct.lsu.edu
